TEXT ----> tokenizer -> tagger -> parser -> ner ----> DOC

In [23]:
import spacy
from spacy import displacy

In [24]:
nlp=spacy.load('en_core_web_sm')

### Stop-word

In [34]:
text="Apple, This is first sentence. and Google this is another one. Here is 3rd one."

In [35]:
doc=nlp(text)

In [36]:
doc

Apple, This is first sentence. and Google this is another one. Here is 3rd one.

In [37]:
for token in doc:
    print(token)

Apple
,
This
is
first
sentence
.
and
Google
this
is
another
one
.
Here
is
3rd
one
.

In [38]:
for sent in doc.sents:
    print(sent)

Apple, This is first sentence.
and Google this is another one.
Here is 3rd one.

In [30]:
from spacy.lang.en.stop_words import STOP_WORDS

In [31]:
stopwords=list(STOP_WORDS)
stopwords

['so',
 'others',
 'anywhere',
 'would',
 'nevertheless',
 'four',
 'rather',
 'fifty',
 'twenty',
 'various',
 'own',
 'sometime',
 'now',
 'but',
 'into',
 'none',
 'also',
 're',
 'were',
 '’ll',
 'what',
 'else',
 'whither',
 'since',
 'doing',
 'once',
 'used',
 'of',
 'can',
 'at',
 '’ve',
 'thence',
 'hereafter',
 'part',
 'not',
 'regarding',
 'behind',
 'nothing',
 'only',
 'serious',
 'seemed',
 'the',
 'whenever',
 'out',
 'eight',
 'is',
 'as',
 'thereby',
 'on',
 '‘d',
 'was',
 'whether',
 'just',
 'up',
 'after',
 'enough',
 'whatever',
 'through',
 '’d',
 'unless',
 'between',
 'show',
 'using',
 'latterly',
 'whom',
 'although',
 'yourself',
 'yet',
 '’m',
 'anything',
 'get',
 'namely',
 'quite',
 'i',
 'neither',
 'same',
 'therefore',
 'while',
 'eleven',
 'something',
 'top',
 'otherwise',
 'within',
 'give',
 'other',
 'toward',
 'more',
 'ourselves',
 'nowhere',
 'due',
 'say',
 'everything',
 'am',
 'onto',
 'per',
 'formerly',
 'most',
 'by',
 'hundred',
 'sixty',
 'anyone',
 'much',
 'we',
 'below',
 'each',
 'off',
 '‘ve',
 'me',
 '‘ll',
 'herein',
 'everyone',
 'which',
 'during',
 'here',
 'five',
 'yours',
 'every',
 'except',
 'any',
 'nor',
 'their',
 'above',
 'anyhow',
 'therein',
 'an',
 'beyond',
 'us',
 'almost',
 'myself',
 'across',
 'empty',
 'someone',
 'several',
 'are',
 'next',
 'why',
 'and',
 'mine',
 'amount',
 'them',
 'some',
 'latter',
 'thru',
 'go',
 'already',
 'he',
 'another',
 'forty',
 "'re",
 'six',
 'full',
 'yourselves',
 'anyway',
 'or',
 'along',
 'there',
 'call',
 'please',
 'in',
 'hence',
 'who',
 'this',
 'former',
 'make',
 'seeming',
 'back',
 'alone',
 'many',
 '‘m',
 'never',
 'did',
 'ten',
 'her',
 'ever',
 "'ll",
 'last',
 'whence',
 'him',
 'how',
 'to',
 'even',
 'does',
 'will',
 'take',
 'elsewhere',
 'being',
 'meanwhile',
 'his',
 'done',
 'thereupon',
 'where',
 'further',
 'towards',
 'that',
 "'d",
 'do',
 'becomes',
 'beforehand',
 'whole',
 'see',
 'itself',
 'might',
 'nine',
 'together',
 "'m",
 'first',
 'ca',
 'cannot',
 'until',
 'our',
 'such',
 'twelve',
 'often',
 'became',
 'somehow',
 'if',
 'must',
 'from',
 'perhaps',
 'third',
 'around',
 'seem',
 'whereafter',
 'himself',
 'its',
 'themselves',
 'sometimes',
 'one',
 'upon',
 'three',
 'herself',
 'still',
 'name',
 'had',
 'wherein',
 'n‘t',
 '‘s',
 'you',
 'hereupon',
 'always',
 'indeed',
 'less',
 'your',
 'no',
 'down',
 'before',
 'a',
 'than',
 'hereby',
 'besides',
 'two',
 "n't",
 'amongst',
 'both',
 'very',
 'has',
 'among',
 'under',
 'side',
 'fifteen',
 'put',
 'whose',
 'well',
 'these',
 'few',
 'then',
 'becoming',
 'least',
 'throughout',
 'keep',
 'move',
 'could',
 'my',
 'with',
 'have',
 'whoever',
 'they',
 'beside',
 'she',
 'moreover',
 'thereafter',
 'ours',
 'thus',
 'bottom',
 'though',
 'nobody',
 'may',
 'whereupon',
 'over',
 'front',
 'those',
 'against',
 'however',
 "'ve",
 'whereby',
 'all',
 'either',
 'again',
 'because',
 'really',
 'without',
 'via',
 'seems',
 'wherever',
 '’re',
 'become',
 'been',
 'be',
 'about',
 'noone',
 'hers',
 'whereas',
 'afterwards',
 'n’t',
 'for',
 '’s',
 '‘re',
 'everywhere',
 'mostly',
 'somewhere',
 'should',
 "'s",
 'it',
 'made',
 'too',
 'when']

In [32]:
len(stopwords)

326

In [39]:
for token in doc:
    if token.is_stop == False:
        print(token)

Apple
,
sentence
.
Google
.
3rd
.

###    Lemmatization

In [40]:
doc=nlp('run runs running runner ran')

In [41]:
for lem in doc:
    print(lem.text,lem.lemma_)

run run
runs run
running running
runner runner
ran run

### POS : part of speech

In [42]:
doc=nlp("All is well at your end!")

In [43]:
for token in doc:
    print(token.text, token.pos_)

All DET
is AUX
well ADJ
at ADP
your DET
end NOUN
! PUNCT

In [44]:
displacy.render(doc,style='dep')

### Entity Detection

In [45]:
doc = nlp("New York City on Tuesday declared a public health emergency and ordered mandatory measles vaccinations amid an outbreak, becoming the latest national flash point over refusals to inoculate against dangerous diseases. At least 285 people have contracted measles in the city since September, mostly in Brooklyn’s Williamsburg neighborhood. The order covers four Zip codes there, Mayor Bill de Blasio (D) said Tuesday. The mandate orders all unvaccinated people in the area, including a concentration of Orthodox Jews, to receive inoculations, including for children as young as 6 months old. Anyone who resists could be fined up to $1,000.")

In [46]:
doc

New York City on Tuesday declared a public health emergency and ordered mandatory measles vaccinations amid an outbreak, becoming the latest national flash point over refusals to inoculate against dangerous diseases. At least 285 people have contracted measles in the city since September, mostly in Brooklyn’s Williamsburg neighborhood. The order covers four Zip codes there, Mayor Bill de Blasio (D) said Tuesday. The mandate orders all unvaccinated people in the area, including a concentration of Orthodox Jews, to receive inoculations, including for children as young as 6 months old. Anyone who resists could be fined up to $1,000.

In [47]:
displacy.render(doc,style='ent')

# Text Classification

In [49]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report,confusion_matrix

In [55]:
data_yelp=pd.read_csv('data/yelp_review.txt',sep='\t',header=None)

In [56]:
data_yelp

                                                     0  1
0                             Wow... Loved this place.  1
1                                   Crust is not good.  0
2            Not tasty and the texture was just nasty.  0
3    Stopped by during the late May bank holiday of...  1
4    The selection on the menu was great and so wer...  1
..                                                 ... ..
995  I think food should have flavor and texture an...  0
996                           Appetite instantly gone.  0
997  Overall I was not impressed and would not go b...  0
998  The whole experience was underwhelming, and I ...  0
999  Then, as if I hadn't wasted enough of my life ...  0

[1000 rows x 2 columns]

In [57]:
columns_name=['Review','Sentiment']
data_yelp.columns=columns_name
data_yelp.head()

                                              Review  Sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [58]:
data_amazon=pd.read_csv('data/amazon_review.txt',sep='\t',header=None)
data_amazon.columns=columns_name

In [59]:
data_amazon

                                                Review  Sentiment
0    So there is no way for me to plug it in here i...          0
1                          Good case, Excellent value.          1
2                               Great for the jawbone.          1
3    Tied to charger for conversations lasting more...          0
4                                    The mic is great.          1
..                                                 ...        ...
995  The screen does get smudged easily because it ...          0
996  What a piece of junk.. I lose more calls on th...          0
997                       Item Does Not Match Picture.          0
998  The only thing that disappoint me is the infra...          0
999  You can not answer calls with the unit, never ...          0

[1000 rows x 2 columns]

In [60]:
data_imdb=pd.read_csv('data/IMDB_review.txt',sep='\t',header=None)
data_imdb.columns=columns_name

In [61]:
data_imdb

                                                Review  Sentiment
0    A very, very, very slow-moving, aimless movie ...          0
1    Not sure who was more lost - the flat characte...          0
2    Attempting artiness with black & white and cle...          0
3         Very little music or anything to speak of.            0
4    The best scene in the movie was when Gerardo i...          1
..                                                 ...        ...
743  I just got bored watching Jessice Lange take h...          0
744  Unfortunately, any virtue in this film's produ...          0
745                   In a word, it is embarrassing.            0
746                               Exceptionally bad!            0
747  All in all its an insult to one's intelligence...          0

[748 rows x 2 columns]

In [62]:
data=data_yelp.append([data_amazon,data_imdb],ignore_index=True)
data.shape

(2748, 2)

In [63]:
data.head()

                                              Review  Sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [64]:
data['Sentiment'].value_counts()

1    1386
0    1362
Name: Sentiment, dtype: int64

In [65]:
data.isnull().sum()

Review       0
Sentiment    0
dtype: int64

### tokenization

In [66]:
import string

In [68]:
punct=string.punctuation

In [69]:
punct

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [74]:
def text_data_cleaning(sentence):
    doc=nlp(sentence)
    
    tokens=[]
    for token in doc:
        if token.lemma_ !='-PRON-':
            temp=token.lemma_.lower().strip()
        else:
            temp=token.lower_
        tokens.append(temp)
    
    cleaned_tokens=[]
    for token in tokens:
        if token not in stopwords and token not in punct:
            cleaned_tokens.append(token)
    return cleaned_tokens

In [75]:
text_data_cleaning("Hello, how are you? Like this video")

['hello', 'like', 'video']

### Vectorization feature engineering (TF-IDF)

In [76]:
from sklearn.svm import LinearSVC

In [77]:
tfidf=TfidfVectorizer(tokenizer=text_data_cleaning)
classifier=LinearSVC()

In [78]:
x=data['Review']
y=data['Sentiment']

In [79]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [80]:
x_train.shape, x_test.shape, y_train.shape

((2198,), (550,), (2198,))

In [81]:
x_train.head()

1670    its extremely slow and takes forever to do any...
2487    There are many continuity errors: one other us...
1124                                   Gets the job done.
2480                         This is an excellent film.
480     We asked for the bill to leave without eating ...
Name: Review, dtype: object

In [82]:
clf=Pipeline([('tfidf',tfidf),('clf',classifier)])

In [83]:
clf.fit(x_train,y_train)

Pipeline(steps=[('tfidf',
                 TfidfVectorizer(tokenizer=<function text_data_cleaning at 0x000001A01DC298B8>)),
                ('clf', LinearSVC())])

In [84]:
y_pred=clf.predict(x_test)

In [85]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.77      0.81      0.79       285
           1       0.78      0.74      0.76       265

    accuracy                           0.78       550
   macro avg       0.78      0.78      0.78       550
weighted avg       0.78      0.78      0.78       550

In [86]:
confusion_matrix(y_test,y_pred)

array([[230,  55],
       [ 68, 197]], dtype=int64)

In [87]:
clf.predict(['wow, this is amazing'])

array([1], dtype=int64)

In [88]:
clf.predict(['oh, it sucks'])

array([0], dtype=int64)

In [93]:
clf.predict(['worth of watching it'])

array([1], dtype=int64)